/* G E N E R A L */

/* .portfolio-item */

.portfolio-item {
    background: var(--color-white);
    border-radius: 5px;

    position: relative;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* .portfolio-item__about */

.portfolio-item__about > h1 {
    font-size: 18px;
    line-height: 25px;

    width: calc(100% - 30px);
}

.portfolio-item__about > svg {
    width: 18px;

    position: absolute;
    right: 15px;
    bottom: 12.5px;
}

.portfolio-item__about > ul {
    margin-bottom: 2.5px;

    display: flex;
    flex-wrap: wrap;
}

.portfolio-item__about > ul li button {
    opacity: 0.45;

    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}

/* .portfolio-item__image */

.portfolio-item__image {
    background-position: center;
    background-size: cover;

    flex: 1;
}

/* D E S K T O P */

@media (min-width: 768px) {

    /* .portfolio-item */

    .portfolio-item {
        box-shadow: var(--box-shadow0);
        height: 270px;

        top: 0;

        transition: all 0.3s;
    }

    .portfolio-item[aria-current] {
        box-shadow: var(--box-shadow2);

        top: -10px;

        transition: all 0.3s;
    }

    /* .portfolio-item__about */

    .portfolio-item__about {
        padding: 10px 15px;
    }

    .portfolio-item__about > ul {
        gap: 0px 15px;

        position: relative;
        z-index: 2;
    }

    .portfolio-item__about > ul li button {
        transition: opacity 0.3s;
    }

    .portfolio-item__about > ul li button:hover {
        opacity: 1;
    }

    .portfolio-item__about > ul li button svg {
        height: 15px;
    }

    /* .portfolio-item__brand */

    .portfolio-item__brand {
        max-width: 135px;
        max-height: 45px;

        position: absolute;
        top: 15px;
        right: 15px;
    }

}

/* M O B I L E */

@media (max-width: 767px) {

    /* .portfolio-item */

    .portfolio-item {
        box-shadow: var(--box-shadow1);
        height: 240px;
    }

    /* .portfolio-item__about */

    .portfolio-item__about {
        padding: 12px 12px 10px;
    }

    .portfolio-item__about > ul {
        gap: 0px 10px;
    }

    .portfolio-item__about > ul li button svg {
        height: 14px;
    }

    /* .portfolio-item__brand */

    .portfolio-item__brand  {
        max-width: 120px;
        max-height: 40px;

        position: absolute;
        top: 12px;
        right: 12px;
    }

}